body {
  background: white;
}
h1 {
  color: black;
  text-align: left;
  font-size: 20px
  font-family: calibri;
  padding-solid: outline-style solid;
}
h2, h3, h4 {
  color: black;
  text-align: left;
  font-family: calibri;
  font-size: 3em;
  text-decoration: underline;
  text-decoration-color: blue;
}

body {
  background-color: #FffffF !important;
}

script {
$('.carousel').carousel();
}

p {
  color: black;
  text-align: justify;
  font-size: 1.5em;
  font-family: calibri;
}

#firstpic {
  width: 600px;
  height: 400px;
  border-radius: 3px;
  border: 5px solid black;
}
#toast {
  width: 500px;
  height: 300px;
  border: 5px solid black;
}
#pizza {
  width: 500px;
  height: 300px;
  border: 5px solid black;
}
#egg {
  width: 500px;
  height: 300px;
  border: 5px solid black;
}
div {
  padding: 30px;
}

/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 200px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
width: 2px;
border: 1px dotted #F4BAFF;
}

::-webkit-scrollbar-thumb {
background: white;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: white;
}
