body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
img {
  width: 350px;
  height: 350px;
  border-radius: 18px;
}
#twitter  {
width: 50px;
height: 50px;
border-radius: 18px;
}
#facebook {
  width: 50px;
  height: 50px;
  border-radius: 18px;
}
#insta {
  width: 50px;
  height: 50px;
  border-radius: 18px;
}
h1, h2 {
  color: black;
  /* text-align: left; */
  font-family: courier;
  font-size: 2em;
}
p {
  color: black;
  /* text-align: left; */
  font-family: courier;
  font-style: 3em;
}
p.italic {
  font-style: italic;
}
/* img {
  width : 320px;
height: 350px
} */
img {
   border-radius: 50px;
   display: flex;
   margin-left: 20px;
 }
div {
  margin-top: 50px;
  margin-bottom: 50px;
}
